{% extends 'base.html' %}


{% block content %}


<head>


</head>

<body>

<div class="container mt-5 mb-5" style="width: 400px">
        <h3>Date Picker</h3>
        <input type="text" id="picker" class="form-control">
</div>

</body>

{% endblock %}
{% block scripts %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
    $('#picker').datetimepicker({
        timepicker: false,
        datepicker: true,
        format: 'm/d/Y', // formatDate
        hours12: false,
        step: 1
    })
    </script>
{% endblock %}
<!--trying to render here first-->