{% extends "base.html" %}


{% block app_content %}


<h2>Details</h2>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  {{ form.csrf_token }}
  <div class="row">
    <div class="form-group col-md-3">
     {{ form.event_name.label }}<br>
     {{ form.event_name(size=32) }}
     </div>
    <div class="form-group col-md-3">
     {{ form.promoter_name.label }}<br>
     {{ form.promoter_name(size=32) }}
     </div>
<!--datepicker implementation-->
  <div class="form-group col-md-3">
        {{ form.event_date.label }}<br>
        {{ form.event_date(size=32, id='datepicker') }}
              {% block scripts %}

              <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
              <link rel="stylesheet" href="/resources/demos/style.css">
              <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
              <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
              <script>
              $( function() {
                $( "#datepicker" ).datepicker();
              } );
              </script>

     </div>
      </div>
               {% endblock %}
  <div class="row">
    <div class="form-group col-md-3">
    {{ form.event_type.label }}<br>
    {{ form.event_type(size=32) }}
   </div>
    <div class="form-group col-md-3">
      {{ form.event_manager.label }}<br>
      {{ form.event_manager(size=32) }}
   </div>
    <div class="form-group col-md-3">
      {{ form.deposit_amount.label }}<br>
      ${{ form.deposit_amount(size=32) }}
   </div>
  </div>
  <div class="row">
   <div class="form-group col-md-3">
    {{ form.guest_count.label }}<br>
    {{ form.guest_count(size=32) }}
  </div>
   <div class="form-group col-md-3">
    {{ form.bar_min.label }}<br>
    ${{ form.bar_min(size=32) }}
  </div>
</div>
<div class="form-group">
  {{ form.other_notes.label }}<br>
  {{ form.other_notes(rows='3',cols='150') }}
</div>
<div class="row">
<div class="form-group col-md-3">
    {{ form.booked.label }}
    {{ form.booked() }}
  </div>
<div class="form-group col-md-3">
    {{ form.tsl_approved.label }}
    {{ form.tsl_approved() }}
   </div>
<div class="form-group col-md-3">
    {{ form.balance_paid.label }}
    {{ form.balance_paid() }}
   </div>
<div class="form-group col-md-3">
    {{ form.contract_sent.label }}
    {{ form.contract_sent() }}
   </div>
   <div class="form-group col-md-3">
     {{ form.cleaning.label }}
     {{ form.cleaning() }}
    </div>
    <div class="form-group col-md-3">
      {{ form.deposit_paid.label }}
      {{ form.deposit_paid() }}
     </div>
     <div class="form-group col-md-3">
       {{ form.bar.label }}
       {{ form.bar() }}
     </div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    {{ form.submit() }}
  </div>
</div>
<!--Modal delete confirm. Delete button does not trigger. same exact code works in events.html-->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
    Delete
  </button>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this event?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <a class="btn btn-danger" roll="button" href="{{ url_for('delete_event', id=form.id.data) }}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  </form>

{% endblock %}
